/* VARIABLES */ /* RESET */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  overflow: auto;
}

@font-face {
  font-family: terminator real nfi;
  src: url(../Fonts/terminator\ real\ nfi.ttf);
}
body {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: normal;
  margin: auto;
  background: rgb(251, 251, 251);
  background: linear-gradient(309deg, rgb(251, 251, 251) 22%, rgb(182, 214, 197) 59%, rgb(168, 212, 188) 59%, rgb(219, 244, 230) 83%, rgb(255, 255, 255) 100%);
  /*background-image: linear-gradient(to right, #dfd0b1, #627e7e);*/
  background-position: 0;
  background-size: cover;
}

.footer-container {
  grid-area: footer-container;
  background-image: linear-gradient(to right, #434343 0%, black 100%);
  color: white;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  font-size: smaller;
}

.cabecera, .navbar, .seccion1, .seccion2, .seccion3, .seccion4, .seccion5, .articulo, .footer-container {
  border: none;
}

.cabecera, .navbar, .seccion1-nosotros, .seccion2-nosotros, .seccion3-nosotros, .seccion4-nosotros, .seccion5-nosotros, .footer-container {
  padding: 10px;
  border: none;
}

.cabecera, .navbar, .seccion1-contacto, .seccion2-contacto, .seccion3-contacto, .footer-container {
  padding: 10px;
  border: none;
}

.cabecera, .navbar, .seccion1-servicio, .seccion2-servicio, .seccion3-servicio, .seccion4-servicio, .seccion5-servicio, .footer-container {
  border: none;
}

#check-menu, label.menu {
  display: none;
}

/* FLEXBOX */
.cabecera {
  grid-area: cabecera;
  font-family: "terminator real nfi";
  padding-top: 80px;
  padding-left: 30px;
  width: 100%;
  height: 100%;
  background-image: url("../Image/Bosque-familia.jpg");
  background-position: 0;
  background-size: cover;
}
.cabecera h1 {
  color: black;
  font-size: 50px;
}
.cabecera h4 {
  color: rgb(5, 3, 3);
  font-size: 20px;
}

.navbar {
  grid-area: navbar;
  background-image: linear-gradient(to right, #dfd0b1, #627e7e);
  display: flex;
  height: 52px;
  font-size: 1.1em;
  color: grey;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0;
}
.navbar ul {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
}
.navbar li {
  padding: 0 15px;
}
.navbar a {
  height: 100%;
  color: black;
  text-decoration: none;
  padding: 1px;
}
.navbar a:hover {
  background-color: rgba(224, 244, 228, 0.757);
  height: 30px;
  border-radius: 5px;
}

h2 {
  margin-top: 10px;
  font-size: 2em;
  text-align: center;
  font-family: monospace;
}

.navbar-toggler-icon {
  font-size: x-small;
}

/* ESTILOS INICIO */
.grid {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: 220px 52px 370px 80px 350px 110px 255px 100px;
  grid-template-areas: "cabecera cabecera cabecera cabecera" "navbar navbar navbar navbar" "seccion1 seccion1 seccion1 seccion1" "seccion2 seccion2 seccion2 seccion2" "seccion4 seccion4 seccion4 seccion4" "seccion3 seccion3 seccion3 seccion3" "articulo articulo articulo articulo" "footer-container footer-container footer-container footer-container";
}

.navbar {
  grid-area: navbar;
  z-index: 99;
}

.seccion1 {
  grid-area: seccion1;
}

.seccion1 div img {
  background-size: cover;
}

.seccion2 {
  grid-area: seccion2;
  text-align: center;
  margin-top: 5px;
}

.seccion3 {
  grid-area: seccion3;
  padding: 10px;
}

.seccion4 {
  grid-area: seccion4;
  width: 100%;
  background-color: none;
  padding: 5px;
  display: flex;
  justify-content: center;
}
.seccion4 div {
  width: 250px;
  height: 280px;
  margin: 20px;
  padding: 20px;
  text-align: center;
  transition: all 300ms;
}

.content-icon:hover {
  box-shadow: 0px 10px 40px -5px black;
  background-color: rgba(255, 255, 255, 0.279);
}

.content-icon i {
  font-size: 160px;
  width: 100%;
  border-radius: 20px;
  box-shadow: 0px 0px 40px -15px black;
}

.boton {
  margin-top: 30px;
  background: none;
  width: 70%;
  border: none;
  padding: 5px;
  border-radius: 5px;
  color: rgb(255, 102, 0);
  font-weight: bold;
  font-size: 1.3em;
}

.articulo {
  grid-area: articulo;
  padding: 10px;
}
.articulo h3 {
  text-align: center;
}

/* ESTILOS NOSOTROS */
.grid-nosotros {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: 220px 52px 80px 300px 80px 80px 340px 100px;
  grid-template-areas: "cabecera cabecera cabecera cabecera" "navbar navbar navbar navbar" "seccion1-nosotros seccion1-nosotros seccion1-nosotros seccion1-nosotros" "seccion2-nosotros seccion2-nosotros seccion3-nosotros seccion4-nosotros" "seccion2-nosotros seccion2-nosotros seccion3-nosotros seccion4-nosotros" "seccion2-nosotros seccion2-nosotros seccion3-nosotros seccion4-nosotros" "seccion5-nosotros seccion5-nosotros seccion5-nosotros seccion5-nosotros" "footer-container footer-container footer-container footer-container";
}

.navbar {
  grid-area: navbar;
  z-index: 99;
}

.seccion1-nosotros {
  grid-area: seccion1-nosotros;
  text-align: center;
}

.seccion2-nosotros {
  grid-area: seccion2-nosotros;
}

.center {
  margin: 0 auto;
  width: 100%;
  height: 400px;
  display: block;
}

.seccion3-nosotros {
  grid-area: seccion3-nosotros;
  padding-top: 50px;
}

.seccion4-nosotros {
  grid-area: seccion4-nosotros;
  padding-top: 50px;
}

.seccion5-nosotros {
  grid-area: seccion5-nosotros;
}
.seccion5-nosotros p {
  text-align: justify;
  padding: 0 5px;
}

/* ESTILOS SERVICIOS */
.grid-servicio {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: 220px 52px 80px 300px 300px 300px 300px 100px;
  grid-template-areas: "cabecera cabecera cabecera cabecera" "navbar navbar navbar navbar" "seccion1-servicio seccion1-servicio seccion1-servicio seccion1-servicio" "seccion2-servicio seccion2-servicio seccion2-servicio seccion2-servicio" "seccion3-servicio seccion3-servicio seccion3-servicio seccion3-servicio" "seccion4-servicio seccion4-servicio seccion4-servicio seccion4-servicio" "seccion5-servicio seccion5-servicio seccion5-servicio seccion5-servicio" "footer-container footer-container footer-container footer-container";
}

.navbar {
  grid-area: navbar;
  z-index: 99;
}

.seccion1-servicio {
  grid-area: seccion1-servicio;
  text-align: center;
  padding-top: 20px;
}

.seccion2-servicio {
  grid-area: seccion2-servicio;
  padding: 20px 60px 20px 40px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.seccion3-servicio {
  grid-area: seccion3-servicio;
  padding: 20px 40px 20px 60px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.seccion4-servicio {
  grid-area: seccion4-servicio;
  padding: 20px 60px 20px 40px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.seccion5-servicio {
  grid-area: seccion5-servicio;
  padding: 20px 40px 20px 60px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

/* ESTILOS CONTACTOS */
.grid-contacto {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: 220px 52px 80px 500px 100px;
  grid-template-areas: "cabecera cabecera cabecera cabecera" "navbar navbar navbar navbar" "seccion1-contacto seccion1-contacto seccion1-contacto seccion1-contacto" "seccion2-contacto seccion2-contacto seccion2-contacto seccion2-contacto" "footer-container footer-container footer-container footer-container";
}

.navbar {
  grid-area: navbar;
  z-index: 99;
}

.seccion1-contacto {
  grid-area: seccion1-contacto;
  text-align: center;
}

.seccion2-contacto {
  grid-area: seccion2-contacto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.seccion2-contacto input, textarea {
  width: 95%;
  margin: 3px;
  padding: 5px;
  font-size: 0.9rem;
  border: 1px solid;
  border-radius: 3px;
  border-color: white;
}

.seccion2-contacto textarea {
  resize: vertical;
  height: 200px;
}

.send-cancel {
  width: 200px;
  display: flex;
}

.orange {
  background-color: orange;
  color: white;
}

.brown {
  background-color: brown;
  color: white;
}

.mapa {
  border-radius: 5px;
  margin-left: 10px;
  margin-top: 25px;
  margin-right: 45px;
  display: flex;
}

/* MEDIA QUERIES */
@media screen and (max-width: 600px) {
  h1 {
    margin-bottom: 0px;
  }
  h4 {
    margin-bottom: 0px;
  }
  .navbar ul {
    display: none;
    position: absolute;
    height: 100vh;
    top: 50px;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: space-around;
  }
  label.menu {
    display: block;
    font-size: 1.5em;
    color: white;
    cursor: pointer;
  }
  #chek-menu:checked ~ ul {
    display: block;
  }
  .grid {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: 220px 52px 370px 100px 280px 650px 450px 100px;
    grid-template-areas: "cabecera cabecera cabecera cabecera" "navbar navbar navbar navbar" "seccion1 seccion1 seccion1 seccion1" "seccion2 seccion2 seccion2 seccion2" "seccion3 seccion3 seccion3 seccion3" "seccion4 seccion4 seccion4 seccion4" "articulo articulo articulo articulo" "footer-container footer-container footer-container footer-container";
  }
  .seccion4 {
    flex-wrap: wrap;
    width: center;
  }
  .articulo {
    text-align: center;
  }
  .grid-nosotros {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: 220px 52px 80px 420px 230px 160px 750px 100px;
    grid-template-areas: "cabecera cabecera cabecera cabecera" "navbar navbar navbar navbar" "seccion1-nosotros seccion1-nosotros seccion1-nosotros seccion1-nosotros" "seccion2-nosotros seccion2-nosotros seccion2-nosotros seccion2-nosotros" "seccion3-nosotros seccion3-nosotros seccion3-nosotros seccion3-nosotros" "seccion4-nosotros seccion4-nosotros seccion4-nosotros seccion4-nosotros" "seccion5-nosotros seccion5-nosotros seccion5-nosotros seccion5-nosotros" "footer-container footer-container footer-container footer-container";
  }
  p {
    text-align: justify;
  }
  .seccion3-nosotros {
    padding-top: 5px;
  }
  .seccion4-nosotros {
    padding-top: 5px;
  }
  .grid-servicio {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: 220px 52px 80px 300px 300px 300px 300px 100px;
    grid-template-areas: "cabecera cabecera cabecera cabecera" "navbar navbar navbar navbar" "seccion1-servicio seccion1-servicio seccion1-servicio seccion1-servicio" "seccion2-servicio seccion2-servicio seccion2-servicio seccion2-servicio" "seccion3-servicio seccion3-servicio seccion3-servicio seccion3-servicio" "seccion4-servicio seccion4-servicio seccion4-servicio seccion4-servicio" "seccion5-servicio seccion5-servicio seccion5-servicio seccion5-servicio" "footer-container footer-container footer-container footer-container";
  }
  .grid-contacto {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: 220px 52px 80px 900px 100px;
    grid-template-areas: "cabecera cabecera cabecera cabecera" "navbar navbar navbar navbar" "seccion1-contacto seccion1-contacto seccion1-contacto seccion1-contacto" "seccion2-contacto seccion2-contacto seccion2-contacto seccion2-contacto" "footer-container footer-container footer-container footer-container";
  }
  .seccion2-contacto {
    flex-direction: column;
    width: center;
  }
  .mapa {
    width: 100%;
    margin: 10px;
  }
}
@media screen and (max-width: 390px) {
  h1 {
    margin-bottom: 0px;
  }
  h4 {
    margin-bottom: 0px;
  }
  .navbar ul {
    display: none;
    position: absolute;
    height: 100vh;
    top: 50px;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: space-around;
  }
  label.menu {
    display: block;
    font-size: 1.5em;
    color: white;
    cursor: pointer;
  }
  #chek-menu:checked ~ ul {
    display: block;
  }
  .grid {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: 220px 52px 370px 150px 280px 800px 650px 100px;
    grid-template-areas: "cabecera cabecera cabecera cabecera" "navbar navbar navbar navbar" "seccion1 seccion1 seccion1 seccion1" "seccion2 seccion2 seccion2 seccion2" "seccion3 seccion3 seccion3 seccion3" "seccion4 seccion4 seccion4 seccion4" "articulo articulo articulo articulo" "footer-container footer-container footer-container footer-container";
  }
  .seccion4 {
    flex-wrap: wrap;
    width: center;
  }
  .articulo {
    text-align: center;
  }
  .grid-nosotros {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: 220px 52px 80px 420px 230px 160px 750px 100px;
    grid-template-areas: "cabecera cabecera cabecera cabecera" "navbar navbar navbar navbar" "seccion1-nosotros seccion1-nosotros seccion1-nosotros seccion1-nosotros" "seccion2-nosotros seccion2-nosotros seccion2-nosotros seccion2-nosotros" "seccion3-nosotros seccion3-nosotros seccion3-nosotros seccion3-nosotros" "seccion4-nosotros seccion4-nosotros seccion4-nosotros seccion4-nosotros" "seccion5-nosotros seccion5-nosotros seccion5-nosotros seccion5-nosotros" "footer-container footer-container footer-container footer-container";
  }
  p {
    text-align: justify;
  }
  .seccion3-nosotros {
    padding-top: 5px;
  }
  .seccion4-nosotros {
    padding-top: 5px;
  }
  .grid-servicio {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: 220px 52px 80px 300px 300px 300px 300px 100px;
    grid-template-areas: "cabecera cabecera cabecera cabecera" "navbar navbar navbar navbar" "seccion1-servicio seccion1-servicio seccion1-servicio seccion1-servicio" "seccion2-servicio seccion2-servicio seccion2-servicio seccion2-servicio" "seccion3-servicio seccion3-servicio seccion3-servicio seccion3-servicio" "seccion4-servicio seccion4-servicio seccion4-servicio seccion4-servicio" "seccion5-servicio seccion5-servicio seccion5-servicio seccion5-servicio" "footer-container footer-container footer-container footer-container";
  }
  .grid-contacto {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: 220px 52px 80px 900px 100px;
    grid-template-areas: "cabecera cabecera cabecera cabecera" "navbar navbar navbar navbar" "seccion1-contacto seccion1-contacto seccion1-contacto seccion1-contacto" "seccion2-contacto seccion2-contacto seccion2-contacto seccion2-contacto" "footer-container footer-container footer-container footer-container";
  }
  .seccion2-contacto {
    flex-direction: column;
    width: center;
  }
  .mapa {
    width: 100%;
    margin: 10px;
  }
}/*# sourceMappingURL=style.css.map */