/* RESET */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    overflow: auto;
}
@font-face {
    font-family: terminator real nfi;
    src: url(../Fonts/terminator\ real\ nfi.ttf)
}
body {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;    
    align-items: normal;
    margin: auto;
    background-color: rgba(244, 244, 225, 0.524);
}
.footer-container {
    grid-area: footer-container;
    background-color: rgb(43, 42, 42);
    color: white;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    font-size: smaller;
}
.seccion1, .seccion2, .seccion3, .seccion4, .seccion5, .articulo, .footer-container {
    border: none;
}
.cabecera, .navbar, .seccion1-nosotros, .seccion2-nosotros, .seccion3-nosotros, .seccion4-nosotros, .seccion5-nosotros, .footer-container {
    padding: 10px;
    border: none;
}
.seccion1-contacto, .seccion2-contacto, .seccion3-contacto, .footer-container {
    padding: 10px;
    border: none;
}
.cabecera, .navbar, .seccion1-servicio, .seccion2-servicio, .seccion3-servicio, .seccion4-servicio, .seccion5-servicio, .footer-container {
    border: none;
}
#check-menu, label.menu {
    display: none;
}